<div class="container">
    <div class="welcome-text">
        {{ welcomeMessage }} <div class="wave">👋</div>
    </div>

    <div class="search-bar">
        <i class="las la-search search-button"></i>
        <input type="text" name="search" placeholder="{{ searchMessage }}" />
    </div>

    <div class="section-title">
        <p>Widgets</p>
        {{!-- <div class="action"><i class="las la-plus-circle"></i></div> --}}
    </div>
    <div class="widget-list">
        <div class="widget-card">
            <div class="title muted">Memory Usage</div>
            <div class="main-info"> {{ memory.used }} &ensp;<span class="muted"> / {{ memory.total }}</span></div>
            <div class="widget-progress-bar">
                <div class="widget-progress-bar-filled" style="width: {{ memory.percentage }}%"></div>
            </div>
        </div>

        <div class="widget-card">
            <div class="widget-body">
                <div class="title muted">Date / Time</div>
                <div class="main-info bigger"><i class="las la-clock"></i>&ensp;<span id="current-time"></span>&ensp;|&ensp;<span class="muted" id="current-date"></span></div>
                <span id="current-day" class="muted"></span>
            </div>
        </div>
    </div>

    <div class="section-title">
        <p>Apps</p>
    </div>
    <div class="app-list">
        {{#each apps}}
            <a href="{{ this.url }}" target="_blank" class="app-card" id="{{this.url}}">
                <span class="app-status exited">&ensp;</span>
                <img src="{{ this.icon }}" alt="App Image">
                <h3>{{ this.name }}</h3>
            </a>
        {{/each}}
    </div>
</div>
{{> modals/add-container }}