<div class="container">
    <div class="welcome-text">
        {{ welcomeMessage }} <div class="wave">👋</div>
    </div>

    <div class="search-bar">
        <i class="las la-search search-button"></i>
        <input type="text" name="search" placeholder="Search on the web..." />
    </div>

    <div class="section-title">
        <p>Widgets</p>
        {{!-- <div class="action"><i class="las la-plus-circle"></i></div> --}}
    </div>
    <div class="widget-list">
        <div class="widget-card">
            <div class="title muted">Total Memory</div>
            <div class="main-info"> 512 MB <span class="muted">/ 2 GB</span></div>
            <div class="widget-progress-bar">
                <div class="widget-progress-bar-filled" style="width: 22%"></div>
            </div>
        </div>

        <div class="widget-card">
            <div class="title muted">Storage</div>
            <div class="main-info"> 112 GB <span class="muted">/ 1 TB</span></div>
            <div class="widget-progress-bar">
                <div class="widget-progress-bar-filled" style="width: 22%"></div>
            </div>
        </div>
    </div>

    <div class="section-title">
        <p>Apps</p>
    </div>
    <div class="app-list">
        {{#each apps}}
            <a href="{{ this.url }}" target="_blank" class="app-card" id="{{this.url}}">
                <span class="app-status exited">&ensp;</span>
                <img src="{{ this.icon }}" alt="App Image">
                <h3>{{ this.name }}</h3>
            </a>
        {{/each}}
    </div>
</div>
{{> modals/add-container }}